<%- include("header")-%>
<div class="box" id="heading">
    <h1><%=kindOfDay%></h1>
</div>
<div class="box">
    <ul>
        <%for(var i=0;i<items.length;i++){%>
            <form action="/delete" method="post">
                <div  class="item">
                    <input type="checkbox" name="checkbox" value="<%=items[i]._id%>"onChange="this.form.submit()">
                    <p><%=items[i].name%></p>
                </div>
                <input type="hidden" name="listName"value="<%=kindOfDay%>"></input>
            </form>
             <%}%>
    </ul>
    <form class="item" action="/" method="post">
        <input type="text" name="val1" placeholder="New item">
        <button name="btn" value="<%=kindOfDay%>">+</button>   
      </form>
    </div>
<%- include("footer")-%>